{% extends 'layout.html' %}

{% block title %}主页{% endblock %}

{% block content %}
<h1>{{title}}</h1>

{% if user %}
<p>欢迎你，{{user.username}}，<a href="/logout">登出</a></p>
{% else %}
<p>请<a href="/signUp">注册</a>，或<a href="/login">登陆</a></p>
{% endif %}

<ul class="list-unstyled">
    {% for weibo in weibos %}
    <li>【{{weibo.time}}】{{weibo.author}} 说 ：{{weibo.content}}    <a href="/weibo/delete/{{weibo._id.toString()}}" class="text-danger">删除</a></li>
    {% endfor %}
</ul>

<p class="text-danger">{{info}}</p>
{% if user %}
<form method="post" action="/weibo/add">

    <div class="form-group">
        <label for="weibo_content"><span>{{user.username}}</span>说：</label>
        <input id="weibo_content" class="form-control" type="text" name="weiboConent" value="" placeholder="请输入微博的内容"/>
    </div>

    <button type="submit" class="btn btn-primary">提交</button>
</form>
{% endif %}
{% endblock %}
