{% extends 'layout.html' %}

{% block title %}登陆{% endblock %}

{% block content %}
<h1>{{title}}</h1>

<form action="/login" method="post">
    <label for="username">用户名：</label>
    <input type="text" id="username" class="form-control" placeholder="请输入用户名" name="username"/>
    <label for="password">密码：</label>
    <input type="password" id="password" class="form-control" placeholder="请输入密码" name="password"/>
    <input type="submit" class="btn btn-primary" value="登陆"/>
    <a href="/" class="btn btn-danger">返回首页</a>
</form>
{% endblock %}
